.button {
	touch-action: none;
	user-select: none;
	display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 2px 4px;
}

.button > * {
    pointer-events: none;
}

.click-button {
    color: var(--dark-grey);
}

.slide-box {
	touch-action: none;
	display: flex;
}

.bb-mand {
    color: var(--dark-medium-grey);
    --icon-colour: var(--dark-medium-grey);
    border-bottom: 2px solid white;
}

.slide-box > .button {
    position: relative;
}

.tooltip {
    background-color: white;
	font-size: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-medium-grey);
    position: absolute;
    padding: 4px 8px;
    text-align: left;
	z-index: 3;
	display: none;
}
