:root {
    --button-border-rad: 4px;
    --slide-box-padding: 2px;
    --sel-border: none;
    --slide-box-border: 1px solid var(--light-medium-grey);
}

.button {
	touch-action: none;
	user-select: none;
	display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 4px 8px;
}

.button > * {
    pointer-events: none;
}

.hover-button {
    border-bottom: 1px solid var(--light-medium-grey);
    background-color: "#ffffff";
}

.toggle-button {
    border-bottom: 1px solid var(--light-medium-grey);
    background-color: "#ffffff";
}

.click-button {
    color: var(--dark-grey);
    font-weight: bold;
    padding: 8px 16px;
}

.slide-box {
    background-color: "#ffffff";
	touch-action: none;
	display: flex;
    border-left: var(--slide-box-border);
}

.slide-box > .button {
    border-radius: 0;
    border-left: var(--sel-border);
}

.tooltip {
    background-color: white;
	font-size: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-medium-grey);
    position: absolute;
    padding: 6px 10px;
    text-align: left;
	z-index: 3;
	display: none;
}
