:root {
   --dark-grey: #333333; /* 20 */
   --dark-medium-grey: #808080; /* 50 */
   --light-medium-grey: #b3b3b3; /* 70 */
   --light-grey: #e6e6e6; /* 90 */
   --very-light-grey: #fafafa; /* 95 */
   --theme-colour: #1e9664;
}
