/* =============================================================================
Layout boxes
============================================================================= */

.ua {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
	margin-bottom: 25px;
}

.ua .viz-box {
	width: 100%;
}

.ua .chart-svg {
    height: 200px;
    width: 100%;
}
