.ua .outer {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    visibility: hidden;
}

/* =============================================================================
Grid
============================================================================= */

.ua .main-box {
    display: grid;
    grid-template-rows: 40px 80px 40px 80px 40px 80px 40px 80px 40px 80px;
    grid-template-columns: auto 60px;
    grid-template-areas:
        "desc-cell-0 map-cell-0"
        "viz-cell-0 viz-cell-0"
        "desc-cell-1 map-cell-1"
        "viz-cell-1 viz-cell-1"
        "desc-cell-2 map-cell-2"
        "viz-cell-2 viz-cell-2"
        "desc-cell-3 map-cell-3"
        "viz-cell-3 viz-cell-3"
        "desc-cell-4 map-cell-4"
        "viz-cell-4 viz-cell-4";
    width: 100%;
}

.ua .map-cell.row-0 {
    grid-area: map-cell-0;
}

.ua .desc-cell.row-0 {
    grid-area: desc-cell-0;
}

.ua .viz-cell.row-0 {
    grid-area: viz-cell-0;
}

.ua .map-cell.row-1 {
    grid-area: map-cell-1;
}

.ua .desc-cell.row-1 {
    grid-area: desc-cell-1;
}

.ua .viz-cell.row-1 {
    grid-area: viz-cell-1;
}

.ua .map-cell.row-2 {
    grid-area: map-cell-2;
}

.ua .desc-cell.row-2 {
    grid-area: desc-cell-2;
}

.ua .viz-cell.row-2 {
    grid-area: viz-cell-2;
}

.ua .map-cell.row-3 {
    grid-area: map-cell-3;
}

.ua .desc-cell.row-3 {
    grid-area: desc-cell-3;
}

.ua .viz-cell.row-3 {
    grid-area: viz-cell-3;
}

.ua .map-cell.row-4 {
    grid-area: map-cell-4;
}

.ua .desc-cell.row-4 {
    grid-area: desc-cell-4;
}

.ua .viz-cell.row-4 {
    grid-area: viz-cell-4;
}

.ua .map-cell {
    position: relative;
}

.ua .desc-cell {
    align-self: end;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.ua .viz-cell {
    position: relative;
    margin-top: 5px;
    margin-bottom: 25px;
}

/* =============================================================================
SVGs
============================================================================= */

.ua .viz-cell > svg {
    width: 100%;
    height: 100%;
}

.ua .income-line {
    position: absolute;
    width: 100%;
    border-top: 2px solid var(--dark-grey);
}

.ua .tick {
    position: absolute;
    width: 10px;
    border-left: 2px solid var(--dark-grey);
}

.ua .tick-label {
    position: absolute;
    bottom: 0;
}

/* =============================================================================
Region descriptions and maps
============================================================================= */

.ua .map-cell object {
    width: 100%;
    height: 100%;
    //display: none;
    visibility: hidden;
}

.ua .desc-cell span:first-child {
    font-weight: 550;
}

/*
.ua .map-mx, .ua .map-br {
    visibility: hidden;=
}/*

/* =============================================================================
Country selection
============================================================================= */

.ua .country-sel-box {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
}

.ua .country-sel-box > .button {
    margin-right: 10px;
    padding-bottom: 0;
}

.ua .country-sel-box > .button:first-child {
    color: var(--dark-grey);
	border-bottom: 2px solid var(--theme-colour);
    font-weight: 700;
}

.ua .country-sel-box > .button:last-child {
    margin-right: 0;
}

/* =============================================================================
Legend
============================================================================= */

.ua .legend-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ua .legend-box > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 5px;
}

.ua .legend-box span {
    position: relative;
    margin-left: 5px;
}

.ua .legend-box object {
    height: 20px;
    margin-right: 1px;
}

.ua .legend-box > div:last-child {
    margin-bottom: 0;
}

/* =============================================================================
Tooltip
============================================================================= */

.ua .tt-row span:first-child {
    font-weight: 550;
    margin-right: 3px;
}

/* =============================================================================
Media queries
============================================================================= */

@media all and (min-width: 500px) {
    .ua .country-sel-box {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    .ua .legend-box {
        flex-flow: row nowrap;
        align-items: flex-start;
        margin-top: 25px;
    }

    .ua .legend-box > div {
        margin-bottom: 0;
    }

    .ua .legend-box object {
        height: 30px;
        margin-right: 1px;
    }
}

@media all and (min-width: 800px) {
    .ua .main-box {
        grid-template-rows: 60px 60px 60px 60px 60px;
        grid-template-columns: 60px auto auto;
        grid-template-areas:
            "map-cell-0 desc-cell-0 viz-cell-0"
            "map-cell-1 desc-cell-1 viz-cell-1"
            "map-cell-2 desc-cell-2 viz-cell-2"
            "map-cell-3 desc-cell-3 viz-cell-3"
            "map-cell-4 desc-cell-4 viz-cell-4";
    }

    .ua .map-cell {
        margin-right: 10px;
    }

    .ua .desc-cell {
        align-self: center;
        margin-right: 20px;
    }

    .ua .viz-cell {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
    }
}
