/* =============================================================================
Layout boxes
============================================================================= */

.ua {
	margin-bottom: 25px;
}

.ua .viz-box {
	width: 100%;
}

.ua .chart-svg {
    height: 200px;
}
