/* =============================================================================
Layout boxes
============================================================================= */

.soc .outer {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.soc .viz-box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
}

/* =============================================================================
Month selection
============================================================================= */

.soc .month-box {
	width: 100%;
    flex-flow: row nowrap;
	margin-bottom: 15px;
    border-left: none;
}

.soc .month-button {
	position: relative;
	flex: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
    padding-bottom: 0;
}

.soc .month-button:first-child {
    color: var(--dark-grey);
	border-bottom: 2px solid var(--theme-colour);
    font-weight: 700;
}

.soc .month-text-big, .soc .month-text-medium {
	display: none;
}

/* =============================================================================
Variable selection
============================================================================= */

.soc .var-box {
	width: 100%;
	margin-bottom: 10px;
    display: grid;
    justify-items: center;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas:
      "var-0"
      "var-1"
      "var-2"
      "var-3";
}

.soc .var-button {
    min-width: 170px;
    padding-bottom: 0;
}

.soc .var-button:first-child {
    color: var(--dark-grey);
	border-bottom: 2px solid #90400d;
    --icon-colour: #90400d;
    font-weight: 700;
    grid-area: var-0;
}

.soc .var-button:nth-child(2) {
    grid-area: var-1;
}

.soc .var-button:nth-child(3) {
    grid-area: var-2;
}

.soc .var-button:last-child {
    margin-bottom: 0;
    grid-area: var-3;
}

.soc .var-button-container {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

.soc .var-button > svg {
	height: 14px;
	width: 14px;
	margin-right: 2px;
}

.soc .var-button > svg * {
	fill: var(--icon-colour);
}

/* =============================================================================
Chart
============================================================================= */

.soc .chart-svg {
	position: relative;
}

.soc .city-label {
	font-size: 3.285px;
	font-weight: 550;
    user-select: none;
}

.soc .colour-bar {
	display: flex;
	flex-flow: row nowrap;
	height: 15px;
	width: 100%;
	margin-top: 10px;
    font-weight: 550;
}

.soc .legend-cell {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
}

/* =============================================================================
Media queries
============================================================================= */

@media all and (min-width: 500px) {
	.soc .var-button {
        min-width: 200px;
	}
}

@media all and (min-width: 600px) {
    .soc .var-box {
        grid-template-areas:
          "var-0 var-1"
          "var-2 var-3";
    }

	.soc .legend-cell {
		font-size: 12px;
	}

	.soc .viz-box {
		flex-flow: row nowrap;
	}

	.soc .colour-bar {
		flex-flow: column-reverse nowrap;
		height: auto;
		width: 50px;
		margin-top: 0;
		margin-left: 15px;
	}

	.soc .month-button {
		font-size: 14px;
		flex: 1;
		margin-bottom: 0;
	}

	.soc .month-text-medium {
		display: block;
	}

	.soc .month-text-small {
		display: none;
	}
}

@media all and (min-width: 900px) {
	.soc .var-button {
        min-width: auto;
	}

    .soc .var-box {
        justify-content: space-between;
        grid-template-areas:
          "var-0 var-1 var-2 var-3";
    }
}

@media all and (min-width: 1050px) {
	.soc .month-text-big {
		display: block;
	}

	.soc .month-text-medium {
		display: none;
	}
}
