/* =============================================================================
Layout boxes
============================================================================= */

.soc {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
	margin-bottom: 25px;
}

.soc .viz-box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
}

/* =============================================================================
Month selection
============================================================================= */

.soc .month-box {
	width: 100%;
    flex-flow: row nowrap;
	margin-bottom: 10px;
}

.soc .month-button {
	position: relative;
	flex: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
	padding: 4px;
}

.soc .month-button:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.soc .month-button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.soc .month-text-big, .soc .month-text-medium {
	display: none;
}

/* =============================================================================
Variable selection
============================================================================= */

.soc .var-box {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	margin-bottom: 10px;
	justify-content: space-between;
}

.soc .var-button {
	justify-content: center;
	flex: 1;
    border: 1px solid var(--var-border);
    margin-bottom: 10px;
}

.soc .var-button:last-child {
    margin-bottom: 0;
}

.soc .var-button-container {
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

.soc .var-button > svg {
	height: 14px;
	width: 14px;
	margin-right: 2px;
}

.soc .var-button > svg * {
	fill: var(--icon-colour);
}

/* =============================================================================
Chart
============================================================================= */

.soc .chart-svg {
	position: relative;
}

.soc .city-label {
	font-size: 3.285px;
	font-weight: 600;
}

.soc .colour-bar {
	display: flex;
	flex-flow: row nowrap;
	height: 15px;
	width: 100%;
	margin-top: 10px;
    font-weight: 600;
}

.soc .legend-cell {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px;
}

/* =============================================================================
Media queries
============================================================================= */

@media all and (min-width: 500px) {
	.soc .var-button-container {
		width: 50%;
		justify-content: space-between;
	}

	.soc .var-button {
		flex: 40%;
    	margin-bottom: 0;
	}

	.soc .var-button:first-child, .soc .var-button:nth-child(3) {
		margin-right: 10px;
	}

	.soc .var-button:first-child, .soc .var-button:nth-child(2) {
    	margin-bottom: 10px;
	}

	.soc .month-button {
		padding: 8px;
	}

	.soc .var-box {
		flex-flow: row wrap;
	}

	.soc .legend-cell {
		font-size: 12px;
	}
}

@media all and (min-width: 600px) {
	.soc .viz-box {
		flex-flow: row nowrap;
	}

	.soc .colour-bar {
		flex-flow: column-reverse nowrap;
		height: auto;
		width: 50px;
		margin-top: 0;
		margin-left: 15px;
	}

	.soc .var-box {
	    margin-bottom: 10px;
	}

    .soc .month-box {
	    margin-bottom: 10px;
    }

	.soc .month-button {
		font-size: 14px;
		flex: 1;
		margin-bottom: 0;
	}

	.soc .month-text-medium {
		display: block;
	}

	.soc .month-text-small {
		display: none;
	}
}

@media all and (min-width: 850px) {
	.soc .var-box {
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

	.soc .var-button {
		margin-right: 10px;
		flex: 0;
	}

	.soc .var-button:first-child, .soc .var-button:nth-child(3) {
		margin-right: 10px;
	}

	.soc .var-button:first-child, .soc .var-button:nth-child(2) {
    	margin-bottom: 0;
	}
}

@media all and (min-width: 1050px) {
	.soc .month-text-big {
		display: block;
	}

	.soc .month-text-medium {
		display: none;
	}
}
