/* =============================================================================
Layout boxes
============================================================================= */

.eh .outer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

/* =============================================================================
Chart
============================================================================= */

.eh .chart-container {
    width: 100%;
    display: grid;
    grid-template-areas:
      "year-0 year-1"
      "year-2 year-3"
      "year-4 year-5";
}

.eh .viz-container {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
}

.eh .viz-container > svg * {
    pointer-events: none;
}

.eh .x-axis {
    position: relative;
    border-top: 2px solid var(--dark-grey);
    top: 5px;
    width: 100%;
    height: 35px;
}

.eh .tick {
    border-left: 2px solid var(--dark-grey);
    height: 5px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.eh .year-container {
    font-weight: bold;
    position: absolute;
    left: -15px;
    top: 3px;
}

.eh .next-year {
    left: auto;
    right: -15px;
}


.eh .viz-container:last-child .tick {
    border-right: 2px solid var(--dark-grey);
}

/* =============================================================================
Legend
============================================================================= */

.eh .legend-container {
	margin-left: 25px;
	margin-top: 0;
	justify-content: center;
    flex-flow: column nowrap;
	width: 86px;
}

.eh .legend-button {
    border-radius: 0;
    width: auto;
    justify-content: center;
    justify-content: flex-start;
}

.eh .legend-button span {
    width: 82px;
    width: auto;
}

.eh .legend-square {
	width: 11px;
	height: 11px;
	margin-right: 5px;
	position: relative;
    top: -0.5px;
}

/* =============================================================================
Tooltips
============================================================================= */

.eh .tt-row span:first-child {
    margin-right: 3px;
    font-weight: bold;
}

.eh .tt-row span:first-child {
    margin-right: 3px;
    font-weight: bold;
}

/* =============================================================================
Media queries
============================================================================= */


@media all and (min-width: 500px) {
    .eh .chart-container {
        grid-template-areas:
            "year-0 year-1 year-2"
            "year-3 year-4 year-5";
    }

    .eh .legend-container {
    	width: 93px;
    }

    .eh .legend-square {
    	width: 13px;
    	height: 13px;
        top: 0;
    }
}

@media all and (min-width: 700px) {
    .eh .chart-container {
        grid-template-areas:
            "year-0 year-1 year-2 year-3"
            "year-4 year-5 . .";
    }
}


@media all and (min-width: 900px) {
    .eh .chart-container {
        grid-template-areas:
            "year-0 year-1 year-2 year-3 year-4 year-5";
    }
}
