/* =============================================================================
Layout boxes
============================================================================= */

.eh {
    display: flex;
    flex-flow: row nowrap;
  	margin-bottom: 25px;
    align-items: flex-start;
}

/* =============================================================================
Chart
============================================================================= */

.eh .chart-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
  	flex: 1;
}

.eh .viz-container {
    display: flex;
    flex-flow: column nowrap;
	flex: 1;
    width: 40%;
    margin-left: 10px;
    margin-bottom: 10px;
  	max-width: 300px;
    min-width: 60px;
}

.eh .year-container {
    font-weight: bold;
    border-left: 1px solid var(--dark-grey);
    padding-left: 5px;
}

/* =============================================================================
Legend
============================================================================= */

.eh .legend-container {
	margin-left: 25px;
	margin-top: 0;
	justify-content: center;
    flex-flow: column nowrap;
	width: 86px;
}

.eh .legend-button {
    border-radius: 0;
    width: auto;
    justify-content: center;
    justify-content: flex-start;
}

.eh .legend-button span {
    width: 85px;
    width: auto;
}

.eh .legend-square {
	width: 13px;
	height: 13px;
	margin-right: 4px;
	position: relative;
}

/* =============================================================================
Media queries
============================================================================= */


@media all and (min-width: 500px) {
    .eh .viz-container {
        min-width: 100px;
    }

    .eh .legend-container {
    	width: 96px;
    }

    .eh .legend-square {
    	width: 15px;
    	height: 15px;
        left: -1px;
    }
}
