body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: "Recursive", sans-serif;
	font-weight: 550;
    color: var(--dark-grey);
    font-size: 10px;
    margin: 15px;
    margin-top: 0;
}

.main-container {
    width: 100%;
    width: 402px;
    padding: 0;
    margin-top: 100px;
}

.outer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 0;
}

.title {
	font-size: 22px;
	font-family: "Cabin", sans-serif;
	font-weight: 700;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.desc {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100px;
}

.header-content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

/* =============================================================================
Chart
============================================================================= */

.chart-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.viz-container {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    margin-bottom: 10px;
}

.chart-container svg {
    aspect-ratio: 10 / 1;
}

.viz-container > svg * {
    pointer-events: none;
}

/* =============================================================================
Legend
============================================================================= */

.legend-container {
    display: flex;
	justify-content: center;
    flex-flow: row nowrap;
}

.legend-button {
    border-radius: 0;
    width: auto;
    justify-content: center;
    justify-content: flex-start;
	display: flex;
    align-items: center;
    white-space: nowrap;
    padding-right: 6px;
}


.legend-button:last-child {
    padding-right: 0px;
}

.legend-button span {
    width: 82px;
    width: auto;
}

.legend-square {
	width: 8px;
	height: 8px;
    border-radius: 8px;
    margin-right: 2px;
	position: relative;
    top: -1px;
}

/* =============================================================================
Media queries
============================================================================= */

@media all and (min-width: 500px) {
    body {
        margin: 30px;
        margin-top: 0;
    }

    .title {
        margin-top: 30px;
    }

    .header {
        height: 115px;
    }

    
    .main-container {
        margin-top: 115px;
        width: 414px;
    }

    .legend-button {
        padding-right: 8px;
    }
}

@media all and (min-width: 600px) {
    .legend-square {
    	width: 10px;
    	height: 10px;
        border-radius: 10px;
    }

    body {
        margin: 40px;
        margin-top: 0;
        font-size: 12px;
    }

    .title {
        font-size: 24px;
        margin-top: 40px;
    }

    .header {
        height: 130px;
    }

    
    .main-container {
        margin-top: 130px;
        width: 506px;
    }

    .legend-button {
        padding-right: 10px;
    }

    .legend-square {
        margin-right: 3px;
    }
}
