body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: "Recursive", sans-serif;
	font-weight: 400;
    color: var(--dark-grey);
    font-size: 12px;
    margin: 10px;
}

.main-container {
    width: 100%;
    max-width: 500px;
    padding: 0;
}

.outer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 0;
}

.title {
	font-size: 22px;
	font-family: "Cabin", sans-serif;
	font-weight: 700;
    text-align: center;
    margin: 10px 0 5px 0;
}

.desc {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

/* =============================================================================
Chart
============================================================================= */

.chart-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.viz-container {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.chart-container svg {
    aspect-ratio: 4 / 1;
}

.viz-container > svg * {
    pointer-events: none;
}

.year-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: 700;
}

/* =============================================================================
Legend
============================================================================= */

.legend-container {
	margin-left: 5px;
	margin-top: 0;
	justify-content: center;
    flex-flow: column nowrap;
}

.legend-button {
    border-radius: 0;
    width: auto;
    justify-content: center;
    justify-content: flex-start;
	display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 2px 4px;
}

.legend-button span {
    width: 82px;
    width: auto;
}

.legend-square {
	width: 12px;
	height: 12px;
	margin-left: 1px;
    margin-right: 5px;
	position: relative;
}

/* =============================================================================
Tooltips
============================================================================= */

.tt-row span:first-child {
    margin-right: 3px;
    font-weight: 550;
}

.tt-row span:first-child {
    margin-right: 3px;
    font-weight: 550;
}

/* =============================================================================
Media queries
============================================================================= */

@media all and (min-width: 450px) {
    .legend-container {
        margin-left: 10px;
    }

    body {
        margin: 20px;
    }
}

@media all and (min-width: 500px) {
    .legend-square {
    	width: 14px;
    	height: 14px;
    }

    body {
        margin: 30px;
        font-size: 14px;
    }

    .header-content {
        text-align: left;
    }

    .title {
        text-align: left;
        font-size: 27px;
    }

    .desc {
        text-align: left;
    }
}


@media all and (min-width: 900px) {
    .legend-container {
        margin-left: 15px;
    }

    body {
        margin: 40px;
    }
}
