/* =============================================================================
   Layout boxes
============================================================================= */

.main-container > .ehr {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
	margin-bottom: 25px;
}

.ehr .election-box {
	display: flex;
	flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}

.ehr .viz-box {
	position: relative;
	width: 100%;
    margin-bottom: 45px;
}

.ehr .density-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 100%;
}

.ehr .legend-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    flex: 100%;
    text-align: center;
}

/* =============================================================================
Tooltip
============================================================================= */

.ehr .tooltip-mp-box:first-child {
	height: auto;
	align-items: flex-end;
}

.ehr .tooltip-mp-box {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 22px;
}

.ehr .tooltip-constit-label {
	font-weight: 600;
	margin-right: 15px;
}

.ehr .tooltip-pfp-label {
	display: inline-block;
	color: var(--dark-medium-grey);
}

.ehr .tooltip-party {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	text-align: center;
	margin-right: 6px;
	height: 17px;
}

.ehr .tooltip-party > span {
	font-size: 10px;
	font-weight: 600;
}

.ehr .tooltip-name {
	white-space: nowrap;
	flex: 1;
	margin-right: 15px;
}

.ehr .tooltip-percent {
	flex: 0;
}

.ehr .party-icon {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 10.39px;
    margin: 5.2px 0;
    pointer-events: none;
    user-select: none;
    background-color: var(--hex-colour, red);
}

.ehr .party-icon:before, .party-icon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.ehr .party-icon:before {
    bottom: 100%;
    border-bottom: 5.2px solid var(--hex-colour, red);
}

.ehr .party-icon:after {
    top: 100%;
    width: 0;
    border-top: 5.2px solid var(--hex-colour, red);
}

/* =============================================================================
Legend
============================================================================= */

.ehr .legend-content {
    flex-flow: column nowrap;
    align-items: stretch;
    flex: 1 1;
    white-space: nowrap;
    width: 100%;
}

.ehr .legend-button {
	height: 100%;
    border-radius: 0;
	flex-flow: row nowrap;
	justify-content: space-between;
    min-width: 225px;
}

.ehr .legend-button:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ehr .legend-button:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ehr .legend-hex {
	margin-right: 4px;
	width: 16px;
	height: 16px;
    position: relative;
    top: -1px;
}

.ehr .legend-button-label {
	text-align: left;
	pointer-events: none;
	display: inline-block;
}

.ehr .legend-footer {
    margin-top: 5px;
}

/* =============================================================================
Election selection
============================================================================= */

.ehr .election-button {
	flex-flow: column nowrap;
	font-size: 14px;
	padding: 5px;
    flex: 1;
    max-width: 80px;
    margin-right: 10px;
}

.ehr .election-button:last-child {
    margin-right: 0;
}

.ehr .election-label {
    color: var(--election-colour);
    margin-top: 10px;
    justify-content: center;
}

/* =============================================================================
Density selection
============================================================================= */

.ehr .density-button {
    justify-content: center;
    border-radius: 0;
}

.ehr .density-button:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ehr .density-button:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ehr .density-container {
    flex-flow: column nowrap;
    width: 100%;
}

.ehr .dens-units-1, .ehr .dens-units-2 {
    display: none;
}

.ehr .dens-units-3 {
    display: inline-block;
}

/* =============================================================================
Chart
============================================================================= */

.ehr .map-container {
	position: relative;
    margin: 0 auto;
	width: 100%;
}

.ehr .map-svg .grey-hex {
    stroke-width: 1.4;
}

.ehr .grey-hex {
    fill: var(--light-grey);
    stroke: var(--light-grey);
    stroke-width: 0.1;
}

/* =============================================================================
Misc.
============================================================================= */

.ehr .subregion-label {
	position: absolute;
	padding: 2px 4px;
}

.ehr .section-title {
    font-weight: 600;
    margin-bottom: 3px;
    white-space: nowrap;
}

/* =============================================================================
Media queries
============================================================================= */

@media all and (min-width: 450px) {
    .main-container > .ehr {
        justify-content: flex-start;
    }

    .ehr .election-box {
        justify-content: flex-start;
        order: 0;
    }

    .ehr .map-container {
        max-width: 420px;
    }

    .ehr .density-box {
        flex: 0;
        align-items: flex-start;
        order: 3;
    }

    .ehr .density-button {
        width: auto;
        justify-content: left;
    }

    .ehr .viz-box {
        order: 1;
    }

    .ehr .legend-box {
        flex: 0;
        margin-bottom: 0;
        margin-right: 25px;
        text-align: left;
        justify-content: flex-start;
        align-items: stretch;
        order: 2;
    }

    .ehr .dens-units-2 {
        display: inline-block;
    }

    .ehr .dens-units-3 {
        display: none;
    }
}


@media all and (min-width: 800px) {
    .ehr .legend-box {
        max-width: 250px;
    }

	.ehr .viz-box {
		flex: auto;
        width: inherit;
        margin-right: 25px;
	}

	.ehr .density-box {
		flex-flow: row nowrap;
        align-items: center;
	}

	.ehr .density-container {
		flex-flow: row nowrap;
	}

    .ehr .dens-units-1 {
        display: inline-block;
    }

    .ehr .dens-units-2 {
        display: none;
    }

    .ehr .density-box .section-title {
        margin-bottom: 0;
        margin-right: 10px;
    }
}

@media all and (min-width: 1000px) {
	.ehr .top-box {
		margin-bottom: 0;
	}

	.ehr .viz-box {
		flex: 1;
        margin-bottom: 15px;
	}

	.ehr .election-box {
		flex-flow: column-reverse nowrap;
        justify-content: flex-end;
		margin-right: 25px;
        margin-bottom: 0;
        width: auto;
	}

    .ehr .election-button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .ehr .tooltip {
    	font-size: 14px;
    }

	.ehr .tooltip-mp-box {
		height: 28px;
	}

    .ehr .tooltip-mp-box:last-child {
    	margin-bottom: -2px;
    }

	.ehr .tooltip-party {
		font-size: 13px;
		width: 34px;
	}

	.ehr .density-box {
		flex-flow: column nowrap;
        flex: 0;
        align-items: flex-start;
	}

    .ehr .dens-units-1 {
        display: none;
    }

    .ehr .dens-units-2 {
        display: inline-block;
    }

    .ehr .density-box .section-title {
        margin-bottom: 3px;
        margin-right: 0;
    }

	.ehr .density-container {
		flex-flow: column nowrap;
	}
}
